<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">
    
    <!-- 加载配置属性文件 -->
	<context:property-placeholder location="classpath:config.properties" />
	
	<!-- 配置静态资源 -->  
    <!-- <mvc:resources location="/static/" mapping="/static/**" /> -->
    <!-- <mvc:default-servlet-handler/> -->
	<!-- 开启spring MVC注解功能 -->
	<mvc:annotation-driven />
		<!-- <mvc:message-converters>
			<bean class="org.springframework.http.converter.json.GsonHttpMessageConverter" />
		</mvc:message-converters> -->
	<!-- </mvc:annotation-driven> -->
	
	<!-- 启动Spring的组件自动扫描机制 -->
    <context:component-scan base-package="org.govern.ccms.controller" />
	
	<!-- 默认访问跳转到登录页面(即定义无需Controller的url<->view直接映射) -->
    <mvc:view-controller path="/" view-name="forward:/login.html"/>
	
	<!-- SpringMVC在超出上传文件限制时，会抛出org.springframework.web.multipart.MaxUploadSizeExceededException -->
    <!-- 该异常是SpringMVC在检查上传的文件信息时抛出来的，而且此时还没有进入到Controller方法中 -->
    <!-- <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="exceptionMappings">
            <props>
                遇到MaxUploadSizeExceededException异常时，自动跳转到/WEB-INF/error_fileupload.jsp页面
                <prop key="org.springframework.web.multipart.MaxUploadSizeExceededException">WEB-INF/error_fileupload</prop>
                处理其它异常(包括Controller抛出的)
                <prop key="java.lang.Throwable">WEB-INF/500</prop>
            </props>
        </property>
    </bean> -->

	<!-- 视图解析器 -->
	<mvc:velocity-configurer resource-loader-path="classpath:templates/" />
	<mvc:view-resolvers>
		<mvc:content-negotiation>
			<mvc:default-views>
				<bean class="org.springframework.web.servlet.view.json.MappingJackson2JsonView">
					<property name="jsonpParameterNames">
						<set>
							<value>jsonp</value>
							<value>callback</value>
						</set>
					</property>
				</bean>
			</mvc:default-views>
		</mvc:content-negotiation>
		<mvc:velocity cache-views="false" prefix="" suffix=".vm" />
		<mvc:jsp cache-views="false" prefix="" suffix=".jsp" />
	</mvc:view-resolvers>
	
	<!-- 上传文件拦截，设置最大上传文件大小   10M=10*1024*1024(B)=10485760 bytes -->  
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
        <property name="maxUploadSize" value="${web.maxUploadSize}" />  
    </bean>
</beans>